
    .term{
     /* margin: 10ch; */
      padding: 10ch; 
    
    }
    .termo{
     /* margin: 10ch; */
     padding: 10ch;
    }
    
    .termono{
      /* margin: 10ch; */
      padding: 10ch;
     }
    
     .termon{
      /* margin: 10ch; */
      padding: 10ch;
     }
     .gal{
      width: 100%;
      height: 250px!important;;
     }
     .tom{
      padding:10ch;
     }

     .pen{
      padding:10ch;
     }

     .pom{
      padding:10ch;
     }