.pan{
    background-color:rgb(28, 27, 24);  
    width: 100%;
    
}
.pon{
    background-color: rgb(28, 27, 24);  
}
.wrapper h4{
    padding-top: 1ch;
}
.wrapper h1{
    margin-top: 5ch;
}
.gal{
    width: 100%;
}